body{
font-family:Arial;
margin:0;
background:#f4f6f8;
}

header{
background:#dc2626;
color:white;
padding:15px 30px;
display:flex;
justify-content:space-between;
align-items:center;
}

.banner{
background:#1e3a8a;
color:white;
text-align:center;
padding:20px;
}

.container{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:20px;
}

section{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

input,select{
width:100%;
padding:8px;
margin:5px 0 10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
background:#1e3a8a;
color:white;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#142c66;
}

.candidate-list{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.candidate-card{
border:1px solid #ddd;
padding:10px;
border-radius:8px;
text-align:center;
transition:0.3s;
}

.candidate-card:hover{
transform:scale(1.03);
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.candidate-card img{
width:70px;
height:70px;
border-radius:50%;
}

.progress{
height:10px;
background:#ddd;
border-radius:5px;
margin-top:5px;
}

.bar{
height:100%;
background:#dc2626;
border-radius:5px;
transition:width 0.7s;
}

footer{
background:#111827;
color:white;
display:flex;
justify-content:space-around;
padding:20px;
margin-top:20px;
}

.footer-section a{
color:#60a5fa;
text-decoration:none;
}

.dark{
background:#111;
color:white;
}
